<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/create.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <title>create</title>
  </head>
  <body>
    <main>
      <div class="form">
        <div class="upload_Image_block">
          <div class="uploadImage"></div>
        </div>
        <div class="website_and_email_block">
          <div class="website">
            <label for="website_inp">website</label>
            <input type="text" name="" id="website_inp" placeholder="google" />
          </div>
          <div class="email">
            <label for="email_inp">email</label>
            <input
              type="text"
              name=""
              id="email_inp"
              placeholder="example@gmai.com"
            />
          </div>
        </div>
        <div class="password">
          <label for="password_inp">password</label>
          <input type="text" name="" id="password_inp" placeholder="abc!234" />
        </div>
        <div class="link_and_folder_block">
          <div class="link">
            <label for="link_inp">link</label>
            <input
              type="text"
              name=""
              id="link_inp"
              placeholder="http://exmaple.com"
            />
          </div>
          <div class="folder">
            <label for="folder_inp">folder</label>
            <input type="text" name="" id="folder_inp" placeholder="All" />
          </div>
        </div>
        <div class="userName">
          <label for="userName_inp">user name</label>
          <input type="text" name="" id="userName_inp" placeholder="@exmaple-username" />
        </div>
        <div class="saveBtn">
          <button id="save">Save</button>
        </div>
      </div>
    </main>
    <script src="/public/js/create.js"></script>
  </body>
</html>
